@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

@font-face {
  font-family: "Wisdom";
  src: url("../fonts/Wisdom\ Script\ AJ.otf");
}

/*Variables*/
$color-gold: #fed136;
$color-white: white;
$color-black: black;

$font-heading: "Montserrat", sans-serif;
$font-logo: "Wisdom";

$fontweight-bold: 600;

/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.col-4 {
  padding: 0; 
}

.section-title {
  margin-bottom: 70px;
}

.section-title h3,
.card-text h5 {
  font-family: $font-heading;
  color: $color-black;
  font-weight: $fontweight-bold;
}

.section-title h3{
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 120px;
}

h5 {
  font-size: 19px;
}

.section-title h4 {
  font-family: $font-logo;
}

a {
  color: $color-white;
  text-decoration: none;
}

/*Header*/
.header {
  background-image: url("../images/Background_Image.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  padding-top: 40px;
  
  .container h1 {
    margin: 0;
    text-align: left;
    padding-left: 40px;
    font-size: 30px;
    position: absolute;
    transform: translate(0, -10px);
    font-weight: 400;
    letter-spacing: 1px;
    color: #fed136;
    font-family: $font-logo;
    }
  
  ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    li {
      display: inline-block;
      font-size: 16px;
      font-family: $font-heading;
      font-weight: $fontweight-bold;
      margin-left: 36px;
      a {
        text-decoration: none;
        color: $color-white;
        text-align: left;
      }
    }
  }
}

.header-text {
  position: absolute;
  top: 35%;
  width:100%;
  transform: translateY(-50%);
  padding: 0 20px;
  margin: 0;
 
  h3 {
    color: $color-white;
    font-size: 25px;
    text-align: center;
    display: block;
    width: 400px;
    //left: 50%;
    //transform: translateX(-50%);
    top: 10px;
  }

  h2 {
    color: $color-white;
    font-size: 45px;
    text-align: center;
    display: block;
    //left: 50%;
    //transform: translateX(-50%);
    top: 55px;
  }
}

.btn {
  border-radius: 3px;
  background-color: $color-gold;
  width: 240px;
  height: 65px;
  font-size: 18px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  padding: 23px 0;
  text-decoration: none;
}
.text {
  text-align: center;
  //display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}
.welcome {
  display: block;
  //top: 0px;
  font-size: 28px;
  letter-spacing: -1px;
  color: #fff;
  font-family: "Droid Serif";
  font-weight: 400;
  font-style: italic;
}
.meet {
  display: block;
  //top: 61px;
  font-size: 48px;
  letter-spacing: -3px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}

/*
  .montserrat {
    font-size: 14px;
    line-height: 41px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: left; //center;
    color: white;
    background-color: green;
  }
  
  .droid-serif {
    font-size: 14px;
    color: #737373;
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
    text-align: left; //center;
    background-color: green;
    color: white;
  }

  .roboto-slab {
    width: 280px;
    height: 58px;
    font-size: 14px;
    letter-spacing: 0px;
    color: white; // #777777;
    background-color: green;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: left; //center;
  }
*/
.services .card {
  height:auto;
}

.services .card-text {
  padding: 0 30px;

}

.card-icon {
  width: 65px;
  height: 65px;
  border-radius: 55%;
  display: inline-block;
  background: white;
  border: 5px solid $color-gold;
}

.card-icon i {
  font-size: 36px;
  line-height: 55px;
  color: $color-gold;
}

/*Media Querries*/
@media screen and (max-width: 768px) {

nav { 
  .container h1 {
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50px);
  }
  ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    width: 100%;
    padding-left: 0;
  }
  li {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
  }
}



 /*
  footer .copyright{
      position: relative;
      margin: 0 auto;
  }
    .copyright p {
      text-align:center;
      display:block;
      padding-top: 80px;
  }
  .splash-inner h1 {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .splash h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .splash .btn {
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
  }
  .section-title h3 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  nav .container h1 {
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50px);
  }
  nav ul {
  list-style-type: none;
  text-align: center;
    position: relative;
    width: 100%;
    padding-left: 0;
  }
  nav li {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
  }
  .card{
    margin-bottom: 20px;
  }
  .section-title{
    margin-bottom: 30px;
  }
  .portfolio,
  .services {
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
*/
}