@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

@font-face {
  font-family: "Wisdom";
  src: url("../fonts/Wisdom\ Script\ AJ.otf");
}

// Global
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
}

.container {
  display: block;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  //text-align: center;
  .text {
    width:100%;
    text-align: center;
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
  }
  .welcome {
    top: 277px;
    font-size: 40px;
    letter-spacing: -1px;
    color: #fff;
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
  }
  .meet {
    top: 361px;
    font-size: 75px;
    letter-spacing: -3px;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
  }
  .btn {
    display: block;
    position: absolute;
    top: 474px;
    border-radius: 3px;
    background-color: #fed136;
    width: 240px;
    height: 65px;
    font-size: 18px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    padding: 23px 0;
    text-decoration: none;
  }
  .wisdom {
    display: block;
    position: absolute;
    margin: 40px 40px 10px 100px;
    left: 30px;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #fed136;
    font-family: Wisdom;

    border: 1px solid green;
  }
}

/*



  .montserrat {
    font-size: 14px;
    line-height: 41px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: left; //center;
    color: white;
    background-color: green;
  }
  
  .droid-serif {
    font-size: 14px;
    color: #737373;
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
    text-align: left; //center;
    background-color: green;
    color: white;
  }

  .roboto-slab {
    width: 280px;
    height: 58px;
    font-size: 14px;
    letter-spacing: 0px;
    color: white; // #777777;
    background-color: green;
    font-family: "Roboto Slab";
    font-weight: 400;
    text-align: left; //center;
  }
*/